.item_header {
	padding: 4% 4% 2.5%;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.item_content {
	border: 0;
	padding: 2% 4%;
	background-color: #fff;
}

.item_footer {
	padding: 2.5% 4% 4%;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-top: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

ul {
	padding: 0;
}

li.item {
	list-style-type: none;
}

.navbar {
	border-radius: 0 !important;
	border-right: 0;
	border-left: 0;
}